<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.mapper.ArticlecategoryMapper">
    <insert id="addArticlecategory" parameterType="Articlecategory">
        insert into articlecategory(articleid, category) values (#{articleid},#{category})
    </insert>
    <select id="isArticlecategoryExist" parameterType="Articlecategory" resultType="Articlecategory">
        select * from articlecategory where articleid = #{articleid} and category = #{category}
    </select>
</mapper>